{% extends 'templates/app.twig' %}

{% block content %}

<div class="row row-marginless">

    <strong class="block">Login</strong>

</div>

<div class="row row-marginless">

	<div class="col-sm-4 padding-left-0 padding-right-0">

		<form name="signin" class="form" action="{{ path_for( 'login' ) }}" method="POST">

			<input type="hidden" name="service" id="service" value="username" />

			<div class="form-group{{ ERRORS.uname ? ' has-danger' : '' }}">

				<input type="text" name="uname" id="uname" placeholder="Username" autocomplete="username" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}} value="{{ old_input.uname }}">

				{% if ERRORS.uname %}

					<div class="form-control-feedback">{{ ERRORS.uname | first }}</div>

				{% endif %}

			</div>

			<div class="form-group{{ ERRORS.pwd ? ' has-danger' : '' }}">

				<input type="password" name="pwd" id="pwd" placeholder="Password" autocomplete="new-password" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>

				{% if ERRORS.pwd %}

					<div class="form-control-feedback">{{ ERRORS.pwd | first }}</div>

				{% endif %}

			</div>

			{#
			<div class="checkbox mb-3">

				<label><input type="checkbox" name="remember-me" id="remember-me" value="yes"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}> Remember me</label>

			</div>
			#}

			<div class="form-group">

				<button class="btn btn btn-primary btn-block" type="submit"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>Sign in</button>

				{{ csrf.field | raw }}

			</div>

		</form>

	</div>

	<div class="col-sm-8">

		{% include 'feed.twig' %}

	</div>

</div>
    
{% endblock %}