{% extends 'templates/app.twig' %}

{% block content %}

<div class="row row-marginless">

    <strong class="block">Register</strong>

</div>

<div class="row row-marginless">

	<div class="col-sm-4 padding-left-0 padding-right-0">

		<form name="signup" class="form" action="{{ path_for( 'register' ) }}" method="POST">

			<div class="form-group">

				<select name="service" id="service" class="form-control"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>

					{% for SERVICE in SERVICES %}

						{% if old_input.service == SERVICE.name %}

							<option value="{{ SERVICE.name }}" selected="selected">{{ SERVICE.name }}</option>

						{% else %}

							<option value="{{ SERVICE.name }}">{{ SERVICE.name }}</option>

						{% endif %}

					{% endfor %}

				</select>

			</div>

			<div class="form-group{{ ERRORS.uname ? ' has-danger' : '' }}">

				<input type="text" name="uname" id="uname" placeholder="Username" autocomplete="username" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}} value="{{ old_input.uname }}">

				{% if ERRORS.uname %}

					<div class="form-control-feedback">{{ ERRORS.uname | first }}</div>

				{% endif %}

			</div>

			<div class="form-group{{ ERRORS.email ? ' has-danger' : '' }}">

				<input type="email" name="email" id="email" placeholder="Email" autocomplete="email" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}} value="{{ old_input.email }}">

				{% if ERRORS.email %}

					<div class="form-control-feedback">{{ ERRORS.email | first }}</div>

				{% endif %}

			</div>

			<div class="form-group{{ ERRORS.pwd ? ' has-danger' : '' }}">

				<input type="password" name="pwd" id="pwd" placeholder="Password" autocomplete="new-password" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>

				{% if ERRORS.pwd %}

					<div class="form-control-feedback">{{ ERRORS.pwd | first }}</div>

				{% endif %}

			</div>

			<div class="checkbox mb-3">

				<label><input type="checkbox" name="status" id="status" checked="checked"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}> Let others know where you're from!</label>

			</div>

			<div class="checkbox mb-3">

				<label><input type="checkbox" name="remember-me" id="remember-me" value="yes"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}> Remember me</label>

			</div>

			<div class="form-group">

				<button class="btn btn btn-primary btn-block" type="submit"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>Sign up</button>

				{{ csrf.field | raw }}

			</div>

		</form>

	</div>

	<div class="col-sm-8">

		{% include 'feed.twig' %}

	</div>

</div>
    
{% endblock %}