{% extends 'templates/app.twig' %}

{% block content %}

<div class="row row-marginless">

    <strong class="block">Preferences</strong>

</div>

<div class="row row-marginless">

    <div class="col-sm-4 padding-left-0 padding-right-0">

        {% include 'templates/partials/sidenav.twig' %}

    </div>

    <div class="col-sm-8 rounded">

        <form name="preferences_form" class="form" action="{{ path_for( 'users.preferences' ) }}" method="POST">

            {% if USER_PREFERENCES is not empty %}

                <div class="col-sm-4 rounded">

                    <div class="block">Last Updated: {{ USER_PREFERENCES.updated_at }}</div>

                    <div class="form-group">

                        <label for="user_status">Your Visibility</label>

                        <label><input type="radio" name="user_status" value="online"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}{{ USER_PREFERENCES.status == 'online' ? ' checked="checked"' : '' }}> Online</label>

                        <label><input type="radio" name="user_status" value="invisible"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}{{ USER_PREFERENCES.status == 'invisible' ? ' checked="checked"' : '' }}> Invisible</label>

                    </div>

                </div>

            {% endif %}

            <div class="col-sm-4 rounded">

                <div class="form-group">

                    <button class="btn btn btn-primary btn-block" type="submit"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>Save</button>

                    {{ csrf.field | raw }}

                </div>

            </div>

        </form>

    </div>

</div>

{% endblock %}