{% extends 'templates/app.twig' %}

{% block content %}

<div class="row row-marginless">

    <strong class="block">Services</strong>

</div>

<div class="row row-marginless">

    <div class="col-sm-4 padding-left-0 padding-right-0">

        {% include 'templates/partials/sidenav.twig' %}

    </div>

    <div class="col-sm-8 rounded">

		<div class="block">Activate 3rd party services to share your content with below</div>

        <form name="services_form" class="form" action="{{ path_for( 'users.services' ) }}" method="POST">

        	<div class="form-group">

	            {% for AVAILABLE_SERVICE in AVAILABLE_SERVICES %}

					{% if AVAILABLE_SERVICE.user_enabled %}

						<label class="service-app {{ AVAILABLE_SERVICE.name }}">{{ AVAILABLE_SERVICE.name }} <input type="radio" name="service" value="{{ AVAILABLE_SERVICE.name }}" class="{{ AVAILABLE_SERVICE.name }}" checked="checked"></input></label>

					{% else %}

						<label class="service-app {{ AVAILABLE_SERVICE.name }}">{{ AVAILABLE_SERVICE.name }} <input type="radio" name="service" value="{{ AVAILABLE_SERVICE.name }}" class="{{ AVAILABLE_SERVICE.name }}"></input></label>

					{% endif %}

	            {% endfor %}

		    </div>

		    <div class="form-group{{ ERRORS.uname ? ' has-danger' : '' }}">

				<input type="text" name="uname" id="uname" placeholder="Username" autocomplete="off" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}">

				{% if ERRORS.uname %}

					<div class="form-control-feedback">{{ ERRORS.uname | first }}</div>

				{% endif %}

			</div>
	{#
			<div class="checkbox mb-3">

				<label><input type="checkbox" name="status" id="status" checked="checked"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}> Let others know where you're from!</label>

			</div>
	#}
			<div class="form-group">

				<button class="btn btn btn-primary btn-block" type="submit"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>Add Service</button>

				{{ csrf.field | raw }}

			</div>

        </form>

    </div>

</div>

{% endblock %}