{% extends 'templates/app.twig' %}

{% block content %}

<div class="row row-marginless">

    <strong class="block">Services</strong>

</div>

<div class="row row-marginless">

    <div class="col-sm-4 padding-left-0 padding-right-0">

        {% include 'templates/partials/sidenav.twig' %}

    </div>

    <div class="col-sm-8 rounded">

        <form name="services_form" class="form" action="{{ path_for( 'users.services' ) }}" method="POST">

        	<div class="form-group">

				<select name="service" id="service" size=20 class="form-control"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>

		            {% for AVAILABLE_SERVICE in AVAILABLE_SERVICES %}

						{% if old_input.service == AVAILABLE_SERVICE.name %}

							<option value="{{ SERVICE.name }}" selected="selected">{{ AVAILABLE_SERVICE.name }}</option>

						{% elseif loop.first %}

							<option value="{{ SERVICE.name }}" selected="selected">{{ AVAILABLE_SERVICE.name }}</option>

						{% else %}

							<option value="{{ SERVICE.name }}">{{ AVAILABLE_SERVICE.name }}</option>

						{% endif %}

		            {% endfor %}

		        </select>

		    </div>

		    <div class="form-group{{ ERRORS.uname ? ' has-danger' : '' }}">

				<input type="text" name="uname" id="uname" placeholder="Username" autocomplete="username" class="form-control {{ ERRORS.uname ? 'form-control-danger' : '' }}"{{ theme_disabled == true ? ' disabled="disabled"' : ''}} value="{{ old_input.uname }}">

				{% if ERRORS.uname %}

					<div class="form-control-feedback">{{ ERRORS.uname | first }}</div>

				{% endif %}

			</div>

			<div class="checkbox mb-3">

				<label><input type="checkbox" name="status" id="status" checked="checked"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}> Let others know where you're from!</label>

			</div>

			<div class="form-group">

				<button class="btn btn btn-primary btn-block" type="submit"{{ theme_disabled == true ? ' disabled="disabled"' : ''}}>Add Service</button>

				{{ csrf.field | raw }}

			</div>

        </form>

    </div>

</div>

{% endblock %}