<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<title><%= title %></title>

    <meta name="description" content="<%= description %>" />

    <meta name="keywords" content="<%= keywords %>" />

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <meta name="format-detection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

    <meta property="og:image" content="images/domain.png" />

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/layout.css">

</head>

<body>

    <div class="row"></div>

    <div class="row">

        <div class="form_bg">

            <form id="loginform" class="form-horizontal" role="form" action="/signup">

                <div class="row">

                     <h3 class="title"><%= title %></h3>

                     <h6 class="description"><%= description %></h6>

                </div>

                <div class="form-group">

                    <div class="input-group center">

                        <%- buttons %>

                    </div>

                </div>

                <div class="row footer">

                    <div class="center x-small">

                        <a href="/terms">Privacy Policy</a> &nbsp;&copy;likely 2017

                    </div>

            </form>



            </div>

        </div>

    </div>


    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/lib.js"></script>

    <!--<script type="text/javascript" src="js/index.js"></script>-->

    <!--
    @todo:  These below files commented out still need to be finished before they can be enabled

    <script type="text/javascript" src="js/example.js"></script>
    -->

</body>

</html>