<ul class="nav nav-pills flex-column">

    <li class="nav-item">

    <a class="nav-link {{ current_path() == '/' ? 'active' : '' }}" href="/">Home</a>

  </li>

  <li class="nav-item">

    <a class="nav-link  {{ current_path() == '/preferences' ? 'active' : '' }}" href="/preferences">Preferences</a>

  </li>

  <li class="nav-item">

    <a class="nav-link {{ '/services' in current_path() ? 'active' : '' }}" href="/services">Services</a>

  </li>

  <li class="nav-item">

    <a class="nav-link {{ '/exports' in current_path() ? 'active' : '' }}" href="/exports">Exports</a>

  </li>

  <li class="nav-item">

    <a class="nav-link {{ '/content' in current_path() ? 'active' : '' }}" href="/content">Content</a>

  </li>

  <li class="nav-item">

    <a class="nav-link disabled" href="#">Assets</a>

  </li>

</ul>